@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

root{
    --light: #FFFFFF;
    --blue-primary: #3E54A3;
    --dark: #2D6187;
    --gray: #FFD523;
    --pink: #fbe0c4;
}
body{
    overflow: hidden;
}
.section-header{
    width: 100%;
    height: 13vh;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    padding: 0 20px;
}

/*Bootstrap*/
.btn:active,
.btn:focus{
    outline: none !important;
    border: none !important;
}
.modal-dialog{
    max-width: 90%;
}
.modal{
    overflow: hidden;
    background-color: var(--dark)
}
.modal::-webkit-scrollbar{
    width: 3px;
}
.modal-header{
    border: none;
}
.navbar{
    height: 13vh;
}
.bg-light{
    background-color: transparent !important;
}
.navbar-brand{
    font-family: 'Space Mono', monospace;
    font-size: 26px;
    margin-left: 22px;
    color: var(--blue-primary) !important;
    text-shadow: 2px 2px 5px rgb(0 0 0 / 40%);
    letter-spacing: 2px;
    transition: 0.5s ease-in-out;
}
.dropdown-item{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: var(--dark) !important;
    transition: 0.5s ease-in-out;
    letter-spacing: 1px;
}
.modal-title{
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    color: var(--blue-primary);
    font-size: 25px;
    letter-spacing: 1px;
}
.dropdown-menu{
    padding: 0;
}
.dropdown-menu li{
    padding: 4px 0;
}
.dropdown-item{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}
/**/


.section-main{
    width: 100%;
    height: 87vh;
    display: flex;
}

.section-faq{
    width: 5%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 50px 0 0 0;
}
.section-faq .fas,
.section-faq .fab{
    font-size: 19px;
    margin-bottom: 28px;
    color: var(--blue-primary);
    cursor: pointer;
}

.section-faq #moon{
    cursor: pointer;
    color: var(--light) !important;
}
.section-faq #sun{
    display: none;
}
.img-theme{
    width: 20px;
    position: absolute;
    bottom: 3%;
    transition: 0.5s ease-in-out;
}
.link-collapse{
    font-family: 'Space Mono', monospace;
    color: var(--light);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}
.link-collapse:hover{
    color: var(--light);
}
.border-collapse{
    width: 100%;
    height: auto;
    border: 1px solid var(--blue-primary);
    padding: 20px 10px 10px 10px;
    border-radius: 5px;
    background-color: var(--blue-primary);
    color: var(--light);
    margin-bottom: 15px;
    position: relative;
}
.border-collapse .fa-chevron-up{
    color: var(--light) !important;
    position: absolute;
    right: 5%;
}
.border-collapse .row-active{
    transform: rotate(180deg) !important;
}
.card-collapse{
    background-color: #151718;
    color: var(--light);
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.title-faq-collapse{
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    letter-spacing: 1px;
}

.text-faq{
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    letter-spacing: 1px;
    font-size: 15px;
}
.text-extra{
    color: red;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
}
.text-extra2{
    color: yellow;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    margin: 0;
    font-size: 14px;
}
.img-baterry{
    width: 250px;
    display: block;
    margin: 15px 0;
}

/**/
.section-releases{
    width: 95%;
    height: 87vh;
}
.title-releases{
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.title-releases h1{
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--blue-primary);
    transition: 0.5s ease-in-out;
    font-size: 50px;
}



/*Search*/
.search-releases{
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}
.box-search{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.box-search #bar-search{
    width: 600px;
    height: 45px;
    margin: 0;
    font-family: 'Space Mono', monospace;
    padding: 0 0 0 35px;
    font-size: 14px !important;
    outline: none;
    font-weight: bold;
    border: 1px solid var(--blue-primary);
    border-radius: 5px !important;
    letter-spacing: 2px;
}
.box-search #bar-search::-webkit-input-placeholder{
    color: var(--blue-primary);
    letter-spacing: 1px;
}
.fa-search{
    position: absolute;
    left: 2%;
    font-size: 14px;
    color: var(--blue-primary);
}

/**/
.content-releases{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 70px;
    overflow-y: scroll;
    position: relative;
    scroll-behavior: smooth;
}
.center-releases{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-arrow-circle-up{
    color: var(--blue-primary);
    position: fixed;
    font-size: 45px;
    bottom: 2%;
    right: 1%;
    cursor: pointer;
    display: none;
    transition: 0.5s ease-in-out;
    font-weight: bold;
}
.image-not-found{
    height: 100%;
    display: block;
}
.content-releases::-webkit-scrollbar{
    width: 3px;
}
.content-releases::-webkit-scrollbar-thumb{
    background-color: var(--blue-primary);
}
.releases{
    width: 30%;
    margin:  15px 15px 50px 15px;
    box-shadow: 0 4px 5px 2px rgb(0 0 0 / 30%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 8px;
}
.releases-h{
    width: 36%;
    box-shadow: 0 4px 5px 2px rgb(0 0 0 / 21%);
    border-radius: 8px;
    position: relative;;
}
.image-release{
    width: 100%;
    height: 370px;
    border-radius: 8px;
}
.image-release-h{
    width: 100%;
    height: 280px;
    border-radius: 8px;
}
.text-release{
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #1F1F3A;
    /* background-color: var(--blue-primary); */
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.5s linear, visibility 0.5s linear;
    position: absolute;
    top: 0;
    visibility: hidden;
    border-radius: 8px;
}
.releases-h:hover .text-release,
.releases:hover .text-release{
    opacity: 1;
    visibility: visible;
}
.text-release h6{
    margin: 0 0 20px 0;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: var(--light);
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}
.text-release a{
    color: var(--blue-primary);
    text-decoration: none;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    padding: 7px 20px !important;
    border-radius: 8px;
    letter-spacing: 1px;
    transition: 0.3s;
    text-transform: uppercase;
    background-color: var(--light);
    font-weight: bold;
}
.text-release a:hover{
    background-color: var(--light);
    color: var(--blue-primary);
}
.list-item-release{
    list-style: none;
    margin: 0 0 10px 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
}
.p-item-release{
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 25px;
}